<h4> 会員情報編集</h4>
<%= form_with model:@customer,url:customers_path, local:true do |f| %>
<table class = "table mt-3">
  <tr>
    <td style = "border: none;">
      <%= f.attachment_field :customer_image, placeholder: "プロフィール画像" %>
    </td>
  </tr>
  <tr>
    <td style = "border: none;">
      <%= attachment_image_tag @customer, :customer_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <%= f.label "氏名" %>
    </td>
    <td style = "border: none;">
      <%= f.text_field :last_name, autofocus: true %>
      <%= f.text_field :first_name, autofocus: true %>
    </td>
  </tr>

  <tr>
    <td style = "border: none;">
      <%= f.label "フリガナ" %>
    </td>
    <td style = "border: none;">
      <%= f.text_field :last_name_kana, autofocus: true %>
      <%= f.text_field :first_name_kana, autofocus: true %>
    </td>
  </tr>

  <tr>
    <td style = "border: none;">
      <%= f.label "メールアドレス" %>
    </td>
    <td style = "border: none;">
      <%= f.text_field :email, autofocus: true %>
    </td>
  </tr>

  <tr>
    <td style="border: none;">
      <%= f.submit '編集内容を保存', class: "btn btn-sm btn-primary" %>
    </td>
  <% end %>
    <td style="border: none;">
      <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-sm btn-danger" %>
    </td>
  </tr>
</table>