<div class = "bg_my_dictionary">
  <div class = "container">
    <div class = "row">
    <% @contribution.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
      <div class = "col-md-3">
        <div class = "text-center" style = "margin: 50px;">
          <%= attachment_image_tag @customer, :customer_image, :fill, 60, 60, fallback: "no_image.jpg" %>
        </div>
        <table border = "5" rules = "none" style = width:100%;>
          <tr>
            <td>
              <%= @customer.last_name %><%= @customer.first_name %>
            </td>
          </tr>
          <tr>
            <th>
              投稿数：
            </th>
            <td>
              <%= @customer.contributions.count %>
            </td>
          </tr>
        </table>
        <div class = "mt-3">
          <%= link_to "自身のユーザー情報編集", customers_edit_path(@customer.id), class:"btn btn-outline-secondary btn-block" %>
        </div>
        <h3 class = "mt-2">新規投稿</h3>
        <%= form_with model:@contribution,url:contributions_path, method: :post, local:true do |f| %>
        <div class = "mt-4">
          <%= f.text_field :title , placeholder: "タイトル(自身の投稿)",size:"28%" %>
        </div>
        <div class = "mt-1">
          <%= f.text_area :body , placeholder: "内容(自身の投稿)" ,size:"28%" %>
        </div>
          <%= f.label :genre, 'ジャンル' %></br>
          <%= f.fields_for :contribution_genres do |contribution_genre| %>
            <label>
              <%= contribution_genre.check_box :genre_id, { checked: false }, contribution_genre.object.genre_id, false %>
              <%= contribution_genre.object.genre.name %>
            </label></br>
          <% end %>
          <%= f.submit "知識を保存", class: "btn btn-success" %>
        <% end %>
      </div>
      <div class = "col-md-9">
        <div class = "table table-hover table-inverse table-striped table-borderd" style = "padding-bottom: 100px;">
          <div class = "p-3 mb-2 bg-secondary text-white">
            <h3>MyDictionary</h3>
          </div>

          <div class = "show-search-form">
          <%= form_with url: show_search_path, method: :get, local: true do |f| %>
            <%= f.text_field :keyword, value: @keyword, id: "show_search_keyword" %>
            <%= f.submit "検索" %>
          <% end %>
          </div>


          <!--<p id = "notice"><%#= notice %></p>-->
          <!--<form id = "search_form">-->
          <!--  <label for = "search_input">-->
          <!--    検索-->
          <!--  </label>-->
          <!--  <input type = "text" id = "search_input" autocomplete = "off">-->
          <!--</form>-->
          <!--<div id = "search_result_field"></div>-->


          <div class = "show_search_result">
            <table class = "text-center" style = "width:100%;">
            <thead>
              <tr>
                <td>記述内容</td>
                <td>意味</td>
                <td>記述日</td>
                <td>詳細</td>
              </tr>
            </thead>
            <tbody>
            <% if @contributions.present? %>
              <% @contributions.each do |contribution| %>
                <tr>
                  <td><%= contribution.title %></td>
                  <td><%= contribution.body %></td>
                  <td><%= contribution.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
                  <td><%= link_to "詳細へ", contribution_path(contribution), class: "btn btn-sm btn-primary" %></td>
                  <td>
                    <p>
                      <%= render 'customer/favorites/favorite-btn', contribution: contribution %>
                    </p>
                  </td>

              <% end %>
                </tr>
            <% end %>
            </tbody>
            </table>
          <div style = "margin-left:330px;">
            <%= paginate @contributions %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>