      <div class="" style="width: 30%;">お名前</div>
      <%= @contact.name %>

      <div class="" style="width: 30%;">返信用メールアドレス</div>
      <%= @contact.email %>

      <div class="" style="width: 30%;">電話番号</div>
      <%= @contact.phone_number %>

      <div class="" style="width: 30%;"><%= @contact.subject_i18n %></div>

      <div class="">メッセージ</div>
      <div style="white-space: pre-wrap;"><%= @contact.message %></div>


<%= form_with model: @contact, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :phone_number %>
  <%= f.hidden_field :subject %>
  <%= f.hidden_field :message %>
  <div><%= f.submit '送信' %></div>
<% end %>
<%= form_with model: @contact, url: contacts_back_path, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :phone_number %>
  <%= f.hidden_field :subject %>
  <%= f.hidden_field :message %>
  <div><%= f.submit '入力画面に戻る' %></div>
<% end %>