<div class = "box">
    <h4 class = "edit_contribution_heading">投稿内容編集</h4>
    <%= form_with model:@contribution,url:contribution_path, method: :patch ,local:true do |f| %>
    <div class = "box_child">
      <div class = "edit_contribution_label">
        <%= f.label "投稿内容" %>
      </div>
      <div class = "edit_contribution_title">
        <%= f.text_field :title, autofocus: true %>
      </div>
      <div class = "edit_contribution_body_label">
        <%= f.label "意味" %>
      </div>
      <div class = "edit_contribution_body_form">
        <%= f.text_area :body, autofocus: true,  size: "40x10"%>
      </div>
      <div style = "margin-bottom: 200px;">
        <%= f.submit '編集内容を保存', class: "btn btn-primary mb-3" %>
      </div>
    </div>
    <% end %>
</div>