<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-light ">
    <div class="container">
      <a class="navbar-brand" href="/"><%#= image_tag  %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li><%= link_to '会員一覧', admin_customers_path,class: 'fas fa-users nav-link text-secondary' %></li>
            <li><%= link_to 'ジャンル一覧', admin_genres_path,class: 'fas fa-tags nav-link text-secondary' %></li>
            <li><%= link_to 'ログアウト' , destroy_admin_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-secondary' %></li>
          <% elsif customer_signed_in? %>
            <li><%= link_to 'MyDictionary', customers_my_dictionary_path,class: 'fas fa-book-reader nav-link text-secondary' %></li>
            <li><%= link_to '色んな投稿を見る', contributions_path,class: 'fas fa-list-alt nav-link text-secondary' %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-secondary' %></li>
          <% else %>
            <li><%= link_to 'About', about_path,class: 'fas fa-question-circle nav-link text-secondary' %></li>
            <li><%= link_to '新規登録', new_customer_registration_path,class: 'fas fa-door-open nav-link text-secondary' %></li>
            <li><%= link_to 'ログイン', new_customer_session_path,class: 'fas fa-sign-in-alt nav-link text-secondary' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>